@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

header > h1{
    border: 1px dotted black;
    margin: 5px;
    flex-basis: 300px;
}
header > nav{
    border: 1px dotted black;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    
}

header > nav > a:hover{
    background-color: red;
    font-weight: bolder;
    transition: background-color 1s;
}